* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0em;
    padding: 0em;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

h4 {
    text-align: left;
}

/* Navbar*/

#navbar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#navbar-logo {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    justify-self: left;
    align-self: center;
}

#navbar-logo img {
    display: block;
}

#navbar-order {
    grid-column: 7 / 13;
    grid-row: 1 / 2;
    justify-self: start;
    align-self: center;
}

#navbar-menu {
    grid-column: 7 / 13;
    grid-row-start: 2 / 3;
    justify-self: start;
    align-self: center;
}

#navbar-order a {
    position: relative;
    display: inline-block;
    padding: 1em;
    border: solid 0.1em;
    margin-right: 1em;
    border-radius: 0.3em;
}

#navbar-menu ul li {
    display: inline-block;
    margin-right: 1em;
    padding: 0em;
}

#navbar-menu ul {
    margin: 0em;
    padding: 0em;
}

/* Form */

input,
select,
textarea,
button {
    border-radius: 1em;
}

.box-personal-data,
.box-order-data {
    margin-bottom: 3em;
}

.box-personal-data label {
    display: inline-block;
    width: 7em;
    padding-right: 2em;
}

.box-order-data label {
    display: inline-block;
    width: 5em;
    padding-right: 2em;
}

#form-container {
    padding: 3em 0em 3em 0em;
    margin: 3em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#personal-data,
#order-data {
    display: flex;
    flex-flow: column nowrap;
    align-items: baseline;
}

#personal-data {
    width: 40%;
}

#button {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

button {
    width: 100%;
    padding: 0.4em 0em 0.4em 0em;
}


/* Footer */
#conteiner-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(30em, auto);
}

.bottom-contacts-block li {
    display: block;
    padding: 1em;
}

.bottom-contacts-block table {
    margin-left: auto;
    margin-right: auto;
}

.bottom-contacts-block td {
    padding: 1em;
}

#footer-bottom-panel {
    padding: 0em;
    margin: 0em;
    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}
